<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;chrome=1")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0")
    title Ассоциация репетиторов
    link(rel="stylesheet", href="css/styles.css")
      
    script(src="js/modernizr.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/h5Validate/jquery.h5validate.js")
    script(src="js/jquery.maskedinput/jquery.maskedinput.min.js")
    script(src="js/RegistrationStep0.js", async)

  body
    .registration-step-0
      header
        a(href="/")
          h1.logotype Ассоциация репетиторов
        a.registration-step-0-close(href="/") Закрыть
    
      form.registration(action="/register/", method="post")
        h2.title Регистрация репетитора
        fieldset 
          .line
            input(required="required", data-h5-errorid="surname-required", type="text", name="surname", value="", placeholder="Фамилия", id="reg-surname") 
            label(for="reg-surname") Фамилия
            .error#surname-required Введите, пожалуйста, фамилию
          .line
            input(required="required", data-h5-errorid="reg-name-required", type="text", name="name", value="", placeholder="Имя", id="reg-name") 
            label(for="reg-name") Имя
            .error#reg-name-required Это поле обязательно для заполнения
          .line
            input(type="text", name="familyname", value="", placeholder="Отчество", id="reg-familyname") 
            label(for="reg-familyname") Отчество
            .error#familyname-required Введите, пожалуйста, отчество
          .line
            input.h5-phone(required="required", data-h5-errorid="reg-tel-required", type="tel", name="tel", value="", placeholder="Мобильный телефон", id="reg-tel") 
            label(for="reg-tel") Мобильный телефон
            .error#reg-tel-required Похоже, что номер телефона указан не корректно
          .line
            input.h5-email(required="required", type="email", data-h5-errorid="email-error", name="email", value="", placeholder="Email", id="reg-email") 
            label(for="reg-email") Email
            .error#email-error Некорректный формат адреса электропочты
          .line
            input(required="required", data-h5-errorid="region-required", type="text", name="region", value="", placeholder="Регион", id="reg-region") 
            label(for="reg-region") Регион
            a.change-region(href="#") Другой
            .error#region-required Необходимо ввести регион
        nav
          button(type="submit") Продолжить регистрацию
        p.copyright Продолжая регистрацию, вы подтверждаете, что согласны с 
          a(href="#") Условиями использования
          |  и 
          a(href="#") Политикой конфиденциальности
          | .
    
      .regions-list
        h2.title Выберите регион
        a.regions-list-close(href="#") Закрыть
        input.list-keyword(type="text", placeholder="Поиск по населенному пункту", value="", name="keyword")
        .regions
          - var citys = ["Москва","Санкт-Петербург","Абакан","Анадырь","Архангельск","Астрахань","Барнаул","Белгород","Биробиджан","Благовещенск","Брянск","Великий Новгород","Владивосток","Владикавказ","Владимир","Волгоград","Вологда","Воронеж","Горно-Алтайск","Грозный","Екатеринбург","Иваново","Ижевск","Йошкар-Ола","Иркутск","Казань","Калининград","Калуга","Кемерово","Киров","Кострома","Краснодар","Красноярск","Курган","Курск","Кызыл","Липецк","Магадан","Назрань","Майкоп","Махачкала","Мурманск","Нальчик","Нарьян-Мар","Нижний Новгород","Новосибирск","Омск","Орёл","Оренбург","Пенза","Пермь","Петрозаводск","Петропавловск-Камчатский","Псков","Ростов-на-Дону","Рязань","Салехард","Самара","Саранск","Саратов","Смоленск","Ставрополь","Сыктывкар","Тамбов","Тверь","Томск","Тула","Тюмень","Улан-Удэ","Ульяновск","Уфа","Хабаровск","Ханты-Мансийск","Чебоксары","Челябинск","Черкесск","Чита","Элиста","Южно-Сахалинск","Якутск","Ярославль","Череповец","Абдулино","Агинское","Белокуриха","Бийск","Новоалтайск","Рубцовск","Славгород","Свободный","Тында","Вельск","Коряжма","Котлас","Северодвинск","Ахтубинск","Знаменск","Алексеевка","Губкин","Старый Оскол","Дятьково","Карачев","Новозырьков","Унеча","Александров","Гусь-Хрустальный","Ковров","Муром","Покров","Быково","Волжский","Камышин","Михайловка","Урюпинск","Череповец","Борисоглебск","Лиски","Кинешма","Шуя","Ангарск","Братск","Бохан","Усолье-Сибирское","Усть-Илимск","Полесск","Советск","Черняховск","Балабаново","Киров","Обнинск","Карачаевск","Учкекен","Анжеро-Судженск","Белово","Киселевск","Ленинск-Кузнецкий","Междуреченск","Новокузнецк","Осинники","Прокопьевск","Тайга","Таштагол","Юрга","Вятские Поляны","Знаменка","Кирово-Чепецк","Котельнич","Норинск","Слободской","Караваево","Шарья","Анапа","Армавир","Белореченск","Геленджик","Горячий Ключ","Гулькевичи","Ейск","Кореновск","Кропоткин","Кущевская","Лабинск","Ленинградская","Новороссийск","Отрадная","Павловская","Славянск-на-Кубани","Сочи","Тихорецк","Туапсе","Усть-Лабинск","Ачинск","Железногорск","Зеленогорск","Канск","Лесосибирск","Минусинск","Норильск","Шарыпово","Лесниково","Шадринск","Железногорск","Льгов","Рыльск","Суджа","Бокситогорск","Волхов","Всеволжск","Выборг","Луга","Гатчина","Ивангород","Кингисепп","Кириши","Подпорожье","Сиверский","Сланцы","Сосновый бор","Тихвин","Елец","Зеленоград","Балашиха","Барвиха","Большие Вязёмы","Бронницы","Видное","Волоколамск","Воскресенск","Голицыно","Щёлково","Кубинка","Дедовск","Дзержинский","Дмитров","Долгопрудный","Домодедово","Дубна","Егорьевск","Железнодорожный","Жуковский","Ивантеевка","Кашира","Клин","Кокошкино","Коломна","Королёв","Котельники","Красногорск","Краснознаменск","Люберцы","Малаховка","Можайск","Челюскинский","Мытищи","Наро-Фоминск","Ногинск","Одинцово","Орехово-Зуево","Павловский Посад","Подольск","Протвино","Пушкино","Пущино","Радужный","Раменское","Реутов","Руза","Старотеряево","Сергиев Посад","Серпухов","Солнечногорск","Ступино","Сходня","Тучково","Фрязино","Химки","Черкизово","Чехов","Шатура","Электросталь","Юбилейный","Апатиты","Кировск","Арзамас","Выкса","Дзержинск","Заволжье","Княгинино","Кстово","Кулебаки","Павлово","Перевоз","Саров","Сергач","Шашунья","Боровочи","Старая Русса","Бердск","Искитим","Куйбышев","Линёво","Тара","Акбулак","Бугуруслан","Бузулук","Новотроицк","Орск","Ливны","Мценск","Кузнецк","Нижний Ломов","Сердобск","Березники","Кудымкар","Лысьва","Соликамск","Чайковский","Чусовой","Арсеньев","Артем","Большой Камень","Дальнегорск","Дальнереченск","Кировский","Лесозаводск","Михайловка","Находка","Партизанск","Славянка","Спасск-Дальний","Уссурийск","Великие Луки","Кошехабль","Яблоновский","Белебей","Белорецк","Бирск","Ишимбай","Кумертау","Мелеуз","Нефтекамск","Октябрьский","Салават","Сибай","Стерлитамак","Северобайкальск","Дербент","Буйнакск","Избербаш","Каспийск","Кизилюрт","Кизляр","Хасавюрт","Магас","Костомукша","Сортавала","Воркута","Усинск","Ухта","Волжск","Ковылкино","Рузаевка","Мирный","Нерюнгри","Октенцы","Олёкминск","Чурапча","Айхал","Ленск","Альметьевск","Бугульма","Елабуга","Зеленодольск","Лениногорск","Набережные Челны","Нижнекамск","Чистополь","Саяногорск","Азов","Батайск","Белая Калитва","Вешенская","Волгодонск","Гуково","Донецк","Зерноград","Зимовники","Каменск-Шахтинский","Константиновск","Красный Сулим","Матвеев Курган","Миллерово","Новочеркасск","Новошахтинск","Персиановский","Сальск","Таганрог","Шахты","Сасово","Кинель","Похвиснево","Сызрань","Тольятти","Пушкин","Балаково","Балашов","Вольск","Маркс","Энгельс","Холмск","Алапаевск","Березовский","Верхняя Салда","Заречный","Ирбит","Каменск-Уральский","Краснотурьинск","Лесной","Невьянск","Нижний Тагил","Нижняя Тура","Новоуральск","Первоуральск","Серов","Среднеуральск","Вязьма","Рославль","Сафоново","Буденновск","Георгиевск","Ессентуки","Железноводск","Кисловодск","Лермонтов","Минеральные Воды","Невинномысск","Пятигорск","Мичуринск","Уварово","Бежецк","Вышний Волочек","Кимры","Канаково","Кувшиново","Ржев","Торжок","Удомля","Асино","Северск","Стрежевой","Алексин","Новомосковск","Белый Яр","Губкинский","Заводоуковск","Ишим","Когалым","Лангепас","Муравленко","Надым","Нефтеюганск","Нижневартовск","Новый Уренгой","Ноябрьск","Нягань","Пойковский","Пыть-Ях","Советский","Сургут","Тобольск","Урай","Ялуторовск","Воткинск","Глазов","Сарапул","Дмитровград","Инза","Ванино","Комсомольск-на-Амуре","Советская Гавань","Аша","Златоуст","Карталы","Куса","Кыштым","Магнитогорск","Миасс","Нязепетровск","Озерск","Сатка","Снежинск","Трёхгорный","Троицк","Усть-Катав","Алатырь","Батырево","Мариинский Посад","Новочебоксарск","Переславль-Залесский","Рыбинск","Тутаев","Углич","Байконур","Бишкек","Душанбе","Ереван","Курган-тюбе","Могилев","Худжанд","Зарубежные города","Звенигород","Климовск","Лобня","Лыткарино","Крутое","Апрелевка","Севастополь","Евпатория","Керчь","Симферополь","Судак","Феодосия","Ялта","Кола"]
          - var columns = Math.floor(citys.length/3)
          - var length = citys.length
          - var i = 0
          
          .column
            while i<columns
              a.item(href="#", data-title=citys[i])
                h3.sub-title=citys[i]
                p
              - i++
          
          .column
            while i<columns*2
              a.item(href="#", data-title=citys[i])
                h3.sub-title=citys[i]
                p
              - i++
          
          .column
            while i<length
              a.item(href="#", data-title=citys[i])
                h3.sub-title=citys[i]
                p
              - i++

      form.sms(action="/confirm/", method="post")
        h2.title Подтвердите номер
        fieldset
          p Мы отправили на ваш телефон код для подтверждения номера. Введите его сюда, чтобы подтвердить регистрацию.
          .line
            input(type="text", data-h5-errorid="sms-code-required", required="required", name="sms-code", placeholder="Код из SMS", value="")
            button(type="submit") Продолжить
            .error#sms-code-required Вы указали неправильный код. Попробуйте снова.
        nav
          a.resend-password(href="#") Отправить повторно
    
    header
      .wrapper
        a(href="/")
          h1.logotype Ассоциация репетиторов
        a.tel(href="tel:+78126458885") +7 812 
          b 6458885
        p.work-time 09:00-23:00, сб-вс 11:00-21:00
    
    main.page

      section.start-now
        .wrapper
          h2.title Начните работать репетитором вместе с нами
          p Наши репетиторы уже работают с 186 000 учеников по всей России. Зарегистируйтесь и начните получать новых учеников уже сейчас.
          a.register(href="#") Зарегистрироваться 

      section.who-we-are
        .wrapper
          h2.title Ассоциация репетиторов объединяет более <b>65 000</b> квалифицированных преподавателей по всей России. Более <b>186 000</b> учеников уже нашли своего репетитора благодаря Ассоциации репетиторов.
          ul.steps
            li.step.step-1 Пару минут на регистрацию, и ваша анкета доступна на сайте. Начните получать заказы уже в первый день.
            li.step.step-2 Получайте от нас учеников, которые подходят под ваши критерии: город и район, возраст и уровень подготовки.
            li.step.step-3 Агентское вознагражение — только стоимость первого занятия с учеником, весь остальной доход полностью ваш!
            li.step.step-4 Удобный интерфейс работы, большая тематическая аудитория, квалифицированная служба поддержки репетиторов.
          h3.sub-title Начните работу прямо сейчас!
          a.register(href="#") Зарегистрироваться
          p.couple-of-minutes Всего несколько минут вашего времени
      
      section.how-we-work
        .wrapper
          h2.title Как мы работаем
          ol.steps
            li.step
              h3.sub-title Регистрируйтесь
              p Это абсолютно бесплатно и ни к чему не обязывает
            li.step
              h3.sub-title Получайте учеников
              p После регистрации мы направляем к Вам учеников, которые отвечают вашим критериям
            li.step
              h3.sub-title Оплачивайте комиссию
              p За каждого ученика Вы платите комиссию единожды и только за результат. 
            li.step
              h3.sub-title Получайте доход
              p Доход от всех последующих занятий полностью ваш!
          a.register(href="#") Зарегистрироваться
          p.couple-of-minutes Всего несколько минут вашего времени

    footer
      .wrapper
        a(href="/")
          h2.logotype Ассоциация репетиторов
        .column
          p.copy © 2013, Сервис подбора репетиторов «Repetit.ru»
          a(href="https://goo.gl/maps/2CIy9")
            address Москва, Шарикоподшипниковская улица, д. 22
        .column
          a.tel(href="tel:+74955438885") +7 495 543-88-85 — Москва
          a.tel(href="tel:+78126458885") +7 812 645-88-85 — Санкт-Петербург