<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge;chrome=1")
    meta(name="viewport", content="width = device-width, initial-scale = 1.0")
    title Шаг 2 | Предметы | Регистрация | Ассоциация репетиторов
    link(rel="stylesheet", href="css/styles.css")

    script(src="js/modernizr.js")
    script(src="js/html-template-polyfill.js")
    script(src="js/jquery/jquery.min.js")
    script(src="js/jquery-ui-1.9.2.custom.min.js")
    script(src="js/jquery.nouislider.all.min.js")
    script(src="js/jquery.liblink.js")
    script(src="js/h5Validate/jquery.h5validate.js")

    script(src="js/FileAPI.min.js")
    script(src="js/jquery.fileapi.min.js")
    script(src="js/handlebars/handlebars.min.js")
    script(src="js/typeahead.js/dist/bloodhound.min.js")
    script(src="js/typeahead.js/dist/typeahead.jquery.min.js")


    script(src="js/moment/min/moment.min.js")
    script(src="js/chosen_v1.2.0/chosen.jquery.min.js")
    script(src="js/wNumb.js")

    script(src="js/DropdownWidgetController.js", async)
    script(src="js/PersonalData.js", async)

    
  body.registration-page
    header
      .wrapper
        a(href="/")
          h1.logotype Ассоциация репетиторов
      
    .registration-step-1
      
      h2.title Регистрация репетитора

      .steps
        .step.selected
          h3.sub-title: span Личные данные
        .step.selected
          h3.sub-title: span Предметы
        .step
          h3.sub-title: span Адреса
        .step
          h3.sub-title: span Образование

      form.panel(action="/save/", method="post", enctype="multipart/form-data")
        
        fieldset.minimal-duration
          .line
            label(for="min-duration") Минимальная продолжительность занятия
          .line.duration-container
            input#duration-value.value(required="required", pattern="[1-9][0-9]*" type="number", name="experience", value="", min="0", max="50", maxlength="2")
            .duration-line-header
              - var n = 30
              while n < 185
                .years=n
                - n+=15
            #duration

        

        fieldset
          h3.sub-title Формат проведения занятий

          .line.lessons-format

            .checkbox-widget
              input#item-1(type="checkbox", name="addition", data-price-field="athome")
              label(for="item-1") на дому
            .checkbox-widget
              input#item-2(type="checkbox", name="addition", data-price-field="atoffice")
              label(for="item-2") выезд к ученику
            .checkbox-widget
              input#item-3(type="checkbox", checked="checked" name="addition", data-price-field="online")
              label(for="item-3") удаленно


        fieldset
          h2.chapter-title Предмет
          h3.sub-title Предмет
          .line.subject
            select.unchanged(name="subject", required="required", data-h5-errorid="subject-required")
              - var subjs = ['Русский язык','Английский язык','Немецкий язык','Французский язык','Итальянский язык','Испанский язык','Китайский язык','Математика','Физика','Информатика / программирование','Химия','Биология','История','Обществознание','Литература','География','Экономика','Начальная школа','Музыка','Логопед','Другой','Русский как иностранный','Японский язык','Изобразительное искусство','Подготовка к школе','Редкие иностранные языки','Спорт и фитнес']
              each subj in subjs
                option(value=subj)=subj

          h3.sub-title Разделы
          .line.section
            select.unchanged(data-placeholder="Выберите раздел", multiple, name="section", required="required", data-h5-errorid="section-required")
              - var chapters = ['математический анализ','теория вероятностей','теоретическая механика','сопромат','математи логика','эконометрика','высшая математика','линейная алгебра','дифференциальная геометрия','аналитическая геометрия','математическая физика','дифференциальные уравнения','математическая статистика','линейная геометрия','дискретная математика','топология','функциональный анализ','интегральные уравнения','теория чисел','векторный анализ','ТФКП','тензорный анализ','финансовая математика','уравнения в частных производных','актуарная математика','теория графов','комбинаторика','математические модели','прикладная математика','тригоном-ия','уравнения математической физики','численные методы','теория приближений','теория оптимизации','.школьный курс','на английском языке','алгебра логики','вычислимые функции','теория игр','вариационное исчисление','оптимальное управление','методы оптимизации','линейное программирование','алгебра','геометрия','методы оптимальных решений']
              each chapter in chapters
                option(value=chapter)=chapter
          h3.sub-title Дополнения
          .line
            .addition.dropdown-container-widget
              .current.default(data-placeholder="Выберите из списка"): span Выберите из списка
              .list
                .column
                  .checkbox-widget
                    input#dropdown-container-widget-1(type="checkbox", name="addition")
                    label(for="dropdown-container-widget-1") ЕГЭ
                  .checkbox-widget
                    input#dropdown-container-widget-2(type="checkbox", name="addition")
                    label(for="dropdown-container-widget-2") ОГЭ (ГИА)
                .column
                  .checkbox-widget
                    input#dropdown-container-widget-3(type="checkbox", name="addition")
                    label(for="dropdown-container-widget-3") Подготовка к олимпиадам

          h3.sub-title Категория учеников
          .line
            .addition.dropdown-container-widget
              .current.default(data-placeholder="Выберите из списка"): span Выберите из списка
              .list
                .column
                  - var categorys = ["дети 1-3 года","дети 4-5 лет","дети 6-7 лет","школьники 1 класса","школьники 2 класса","школьники 3 класса","школьники 4 класса","школьники 5 класса"]
                  each category in categorys
                    .checkbox-widget
                      input(id="category-"+category, type="checkbox", name="addition")
                      label(for="category-"+category)=category
                .column
                  - var categorys = ["школьники 6 класса","школьники 7 класса","школьники 8 класса","школьники 9 класса","школьники 10 класса","школьники 11 класса","студенты","взрослые"]
                  each category in categorys
                    .checkbox-widget
                      input(id="category-"+category, type="checkbox", name="addition")
                      label(for="category-"+category)=category

            //- .category
            //-   select(name="category", multiple, required="required", data-h5-errorid="category-required")
            //-     - var categorys = ["дети 1-3 года","дети 4-5 лет","дети 6-7 лет","школьники 1 класса","школьники 2 класса","школьники 3 класса","школьники 4 класса","школьники 5 класса","школьники 6 класса","школьники 7 класса","школьники 8 класса","школьники 9 класса","школьники 10 класса","школьники 11 класса","студенты","взрослые"]
            //-     each category in categorys
            //-       option(value=category)=category

          h3.sub-title Цена занятия 
            b (минимальной продолжительности)
          .line
            .third.subdevision
              label(for="athome") На дому
              input(type="number", name="home", id="athome", required="required", data-h5-errorid="price-required")
              span руб (
                strong.min-time 45 
                |  мин)
            .third.subdevision
              label(for="atoffice") Выезд к ученику
              input(type="number", name="office", id="atoffice", required="required", data-h5-errorid="price-required")
              span руб (
                strong.min-time 45 
                |  мин)
            .third.subdevision
              label(for="online") Удаленно
              input(type="number", name="online", id="online", required="required", data-h5-errorid="price-required")
              span руб (
                strong.min-time 45 
                |  мин)
            .error#price-required Пожалуйста, заполните это поле

          h3.sub-title Комментарий
          .line 
            textarea(name="message", cols="30", rows="10")


          a.add-subject(href="#") Добавить предмет


        nav
          a.previous(href="#") Предыдущий
          button(type="submit") Продолжить

        
